.sobreContainer {
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
}

.sobreTexto {
    display: flex;
    flex-direction: column;
    }